<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.floattest">

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/mh_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mh_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PopupWindow"
            android:theme="@style/CustomTheme">
        </activity>
        <activity android:name=".MessengerListActivity"></activity>
        <service android:name=".MyNotificationListener"
            android:label="My Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".ChatHeadService"
            android:exported="false"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- PopupWindow for chatting situation -->
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


</manifest>